body {
    background-color: whitesmoke;
    font-family: Helvetica, Arial, sans-serif;
}

.hide{
    display: none;
}

button {
  background-color: purple; 
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.2s;
  cursor: pointer;
  width: 275px;

  }

  button:hover {
   background-color: purple;
   color: white;
  }

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.startBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    padding: 15px;
    margin: 10px;
}

.startBox p {
   width: 50%;
}

li { 
    list-style-type: none;
}

#questionTitle, #questionOptions {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    flex-direction: column;
}

#questions p {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 28px;
        margin: 0;
        flex-direction: column;
}

#questions hr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#endgame, #endgame p, #endgame h1, #highScoreSection p, #highScoreSection h1, #highScoreSection div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}

#endgame span {
    display: flex;
    justify-content: flex-end;
}